* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EBCDC8;
  font-family: koulen;
  letter-spacing: 5px;
  width: 100%;
  height: 100vh;
}

img {
  height: 300px;
  width: 300px;
}

.body {
  text-align: center;
}

.body a {
  text-decoration: none;
  color: black;
  transition: .3s;
}

.body a:hover {
  color: grey;
}

@media (max-width: 768px) {
  .body {
    font-size: .5rem;
  }
}
